<launch>
  <!-- Phidgets -->
  <!-- <arg name="gain"               default="0.6"/>
  <para	m name="imu_filter_madgwick/gain"      value="$(arg gain)"/>

  <node name="phidgets_imu" pkg="phidgets_imu" type="phidgets_imu_node" output="screen" >   </node>
  <node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" >   </node> -->


  <!-- Humanoid LoadMap -->
  <include file="$(find humanoid_loadmap)/launch/stek_loadmap.launch"/>
    <!-- Humanoid Model -->
  <rosparam file="$(find humanoid_model)/config/robotParams.yaml" command="load"/>

  <node name="humanoid_model" pkg="humanoid_model" type="humanoidmodel_node" output="screen" >   </node>


  <!-- Humanoid Walking -->
  <rosparam file="$(find humanoid_walking)/config/walkingParams.yaml" command="load"/>

  <node name="humanoid_walking" pkg="humanoid_walking" type="lipwalk_node" output="screen" >   </node>

  <!-- Humanoid Interface -->
  <arg name="device_name"      default="/dev/ttyUSB0"/>
  <arg name="baud_rate"        default="1000000"/>
  <arg name="protocol_version" default="2.0"/>
  <arg name="toRobot"          default="true"/>
  <arg name="toGazebo"         default="false"/>
  <arg name="dt"               default="0.07"/>

  <param name="humanoid_interface/device_name"      value="$(arg device_name)"/>
  <param name="humanoid_interface/baud_rate"        value="$(arg baud_rate)"/>
  <param name="humanoid_interface/protocol_version" value="$(arg protocol_version)"/>
  <param name="humanoid_interface/toRobot"          value="$(arg toRobot)"/>
  <param name="humanoid_interface/toGazebo"         value="$(arg toGazebo)"/>
  <param name="humanoid_interface/dt"               value="$(arg dt)"/>


  <node name="humanoid_interface" pkg="humanoid_interface" type="humanoid_interface_node" output="screen" >   </node>

  <!-- Humanoid Control -->
  <!--<arg name="humanoid_control/dt"               default="0.07"/>
  <param name="humanoid_control/dt"               value="$(arg dt)"/>-->
  <rosparam file="$(find humanoid_control)/config/controlParams.yaml" command="load"/>


  <node name="humanoid_control" pkg="humanoid_control" type="humanoidcontrol_node" output="screen" >   </node>


   <!-- Humanoid Config -->
  <node name="humanoid_config" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" >   </node>


</launch>
