<launch>
   <!-- Walking -->
  <include file="$(find humanoid_walking)/launch/natasha_walking.launch"/>

   <!-- MotorSet -->
  <arg name="toRobot"          default="true"/>
  <arg name="toGazebo"         default="false"/>
  <arg name="dt"               default="0.07"/>s

  <!-- Gambiarra Movecreator para Opencm (Temporario) 
  <param name="humanoid_interface/toRobot"          value="$(arg toRobot)"/>
  <node name="humanoid_interface" pkg="humanoid_interface" type="humanoid_interface_node" output="screen" >   </node>
  -->
  <param name="motor_set_control/toRobot"          value="$(arg toRobot)"/>
  <param name="motor_set_control/toGazebo"         value="$(arg toGazebo)"/>
  <param name="motor_set_control/dt"               value="$(arg dt)"/>

  <node name="motor_set_control" pkg="motor_set_control" type="motorset_node" output="screen" >   </node>

   <!-- MoveCreatorQt -->
  <node name="movecreator_qt" pkg="movecreator_qt" type="movecreator_qt" output="screen" >   </node>
</launch>

